.custom-btn {
    background: $third-color;
    color: white;
    &:hover {
      background: $third-light;
    }
  }

  .edit-btn {
    left: -8px;
    color: $primary-color;
  }

  h2 {
    color: #333;
    letter-spacing: 4px;
    font-size: 18px;
    @include sm {
      font-size: 20px;
    }
    @include md {
      font-size: 24px;
    }
  }

  h3 {
    color:#333;
    letter-spacing: 4px;
  }