$primary-color: #039199;
$primary-light: #04b1ba;
$primary-dark: #00666b;
$secondary-light: #fbd77c;
$secondary-color: #f5b20d;
$secondary-dark: #99710b;
$third-color: #1b2d3f;
$third-light: #396188;
$success-color: #5cb85c;
$danger-color: #d9534f;
$danger-dark: #8f3835;
$text-color: #333;